include ../includes/mixin.jade

doctype html
html
  head
    title Abot Chen`s Page
    meta(charset="utf-8")
    link(rel="icon",type="image/png",sizes="32x32",href="/favicon-32x32.png")
    link(rel="icon",type="image/png",sizes="96x96",href="/favicon-96x96.png")
    link(rel="icon",type="image/png",sizes="16x16",href="/favicon-16x16.png")
    link(rel="icon",type="image/x-icon",sizes="16x16",href="/favicon.ico")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    #main.page-container
      block content
  block javascript