mixin navbar(page)
  .navbar.navbar-fixed-top
    .container
      ul.nav.navbar-nav
        each item in [{name: "首页", url: '/'},{name: "博文", url: '/blogs'},{name: "关于我", url: '/about'}]
          li(class="#{item.name == page?'active':''}")
            a(href=item.url)= item.name

doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    #main.page-container
      block content
  block javascript