doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    #main.page-container
      block content
  block javascript