extend layout

block content
  +navbar('Blogs')
  .page-content.blog 
    <%=contents%>
  include catalog.jade
  #comment


block javascript
    script.
        var disqus_config = function () {
            this.page.url = location.href;
            this.page.identifier = '#comment'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//xiunen.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();