mixin navbar(page)
  .navbar.navbar-fixed-top
    .clearfix
      .pull-left.inline.navbar-brand 
        | Xiunen
      ul.nav.navbar-nav
        each item in [{name: "Home", url: '/'}, {name: "Blogs", url: '/pages/blog.html'}, {name: "Examples", url: '/pages/example.html'},{name: "About me", url: '/pages/about.html'},{name:"Buy DJI UAV", url:"http://click.dji.com/ztQimRjTyML7PDRV?pm=link"}]
          li(class="#{item.name == page?'active':''}")
            a(href=item.url)= item.name
